
#product-listing-section {
  padding: 20px 0;
}

.vsc-btn-page-container{
  cursor: pointer;
}


.vsc-product-listing-image {
  width: 69px;
  height: 69px;
  display: block;
}

.vsc-product-listing-btn {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}
